@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
	color: rgb(29, 29, 29);
	font-family: "Fira Sans", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
}

h2 {
	font-size: 36px;
	font-style: normal;
	color: rgb(52, 58, 64);
	line-height: 55.4333px;
	margin-bottom: 16.8px;
}

.optionsForm {
	display: grid;
	line-height: 25px;
	display: flex;
	flex-wrap: wrap;
}

.optionsForm > label {
	width: 30%;
	display : block;
	padding-right : 1em;
	text-align: justify;
}

.optionsForm > input{
	width: 68%;
	text-align : left;
	color: black;
	font-weight: 500;
	font-size: 16px;
	box-shadow: none;
	border: 1px solid rgb(221, 221, 221);
	padding: 0 20px;
}

#empty {
	width: 30%;
	padding-right : 1em;
}

button {
	width: 68%;
	height: 40px;
	text-shadow: none;
	background-color: rgb(38, 103, 183);
	color: white;
	display: inline-block;
	font-size: 14.5px;
	font-weight: 600;
	letter-spacing: 2px;
	border: none;
	margin-top: 10px;
	text-align: center;
}

