@import url('https://fonts.googleapis.com/css?family=Raleway|Rubik');

body {
	width: 400px;
	padding: 20px;
	padding-bottom: 0;
	color: black;
	text-align: center;
	font-family: "Raleway", sans-serif;
	color: rgb(38, 103, 183);
}

#main-image {
	width: 100%;
	height: auto;
	margin: 2.5%;
	margin-top: 0;
	margin-bottom: 10px;
	cursor: pointer;
}

#subject, #message, #submit, #nirvana, #tags {
	border-radius: 2px;
	height: 40px;
	padding: 5px 10px;
}

label {
	font-size: 20px;
	line-height: 30px;
	font-family: "Rubik", "Raleway", sans-serif;
	color: grey;
}

label, #subject, #message, #tags {
	width: 95%;
	margin: 0 2,5%;
}

#subject, #message, #tags {
	color: rgb(38, 103, 183);
	font-weight: 600;
	font-size: 16px;
	box-shadow: none;
	border: 1px solid rgb(221, 221, 221);
}

#message {
	max-width: 380px;
	height: 120px;
}

.tags {
	display: none;
}

#links, #status {
	width: 100%;
	display: flex;
	font-size: 20px;
	font-weight: 600;
}

#links div, #status div {
	width: 40%;
	margin: 10px 2.5%;
	display: inline-block;
	cursor: pointer;
}

#submit {
	background-color: rgb(38, 103, 183);
	color: white;
}

#nirvana {
	height: 36px;
	background-color: white;
	color: rgb(38, 103, 183);
	border: 2px solid rgb(38, 103, 183);
}

#submit span,
#nirvana span{
	padding-top: 10px;
	display: inline-block;
	font-size: 14.5px;
	font-weight: 600;
	letter-spacing: 2px;
}

#status div {
	padding: 10px 20px;
	width: 100%;
	display: none;
	color: white;
}

#settings {
	width: 40px;
	height: auto;
	cursor: pointer;
}

#load {
	background-color: #0000FF;
}

#success {
	background-color: #006400;
}

#error {
	background-color: #CD0000;
}
