body {
	width: 400px;
	padding: 20px;
	color: black;
	text-align: center;
	font-family: 'Tajawal', sans-serif;
}

#header {
	width: 100%;
	display: flex;
}

#title {
	height: 48px;
}

h2 {
	width: calc(92.5%-48px);
	font-size: 26px;
	text-align: center;
	padding: 5px 0;
	margin: 0;
}

img {
	width: 48px;
	height: 48px;
}

#subject, #message, #submit, #nirvana {
	border-radius: 10px;
	height: 40px;
	padding: 5px 10px;
}

label {
	font-size: 120%;
}

label, #subject, #message {
	width: 95%;
	margin: 0 2,5%;
}

#message {
	max-width: 380px;
	height: 120px;
}

#links {
	width: 100%;
	display: flex;
	font-size: 20px;
	font-weight: 600;
}

#submit, #nirvana {
	width: 40%;
	margin: 10px 2.5%;
	display: inline-block;
	cursor: pointer;
}

#submit {
	background-color: blue;
	color: white;
}

#nirvana {
	height: 36px;
	background-color: white;
	color: blue;
	border: 2px solid blue;
}

#submit span,
#nirvana span {
	padding-top: 5px;
	display: inline-block;
}
